<title>ShowCities</title>
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
<body>
    <h1>Select City</h1>
    @foreach (var item in ViewBag.Cities)
    {
        <p>@item.Key</p>
    }
</body>